.bg__purple {

    position: absolute;
    top: -100px;
    left: -100px;
    width: 600px;
    height: 800px;

    z-index: '-1'; 
}

.purple__element {
    
    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, hsl(293, 100%, 63%) 0%, hsl(264, 100%, 61%) 100%);
    border-radius: 0 0 100% 100%;
}