.bg__grey {

    position: absolute; /* pq nao relative? */
    bottom: -100px;
    right: -150px;
    width: 500px;
    height: 600px;


    z-index: -1;
}

.grey__element {
    
    width: 100%;
    height: 100%;

    background: hsl(270, 20%, 96%);
    border-radius: 100% 100% 0 0;
}



/* media - queries */

@media screen and (max-width: 768px) {
    .bg__grey {
        display: none;
    }
    
}