.bg__grey {

    position: absolute; /* pq nao relative? */
    bottom: -100px;
    right: -150px;
    width: 600px;
    height: 800px;

    z-index: -1;
}

.grey__element {
    
    width: 100%;
    height: 100%;

    background: hsl(270, 20%, 96%);
    border-radius: 100% 100% 0 0;
}



/* media - queries */
