.bg__purple {

    position: absolute;
    top: 0;
    left: -100px;
    width: 450px;
    height: 550px;

    z-index: -1; 
}

.purple__element {
    
    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, hsl(293, 100%, 63%) 0%, hsl(264, 100%, 61%) 100%);
    border-radius: 0 0 100% 100%;
}