body {
  
  background-color:hsl(0, 100%, 100%);
}

.page {
  max-width: 1600px;
  margin: 0 auto;
  background-color:hsla(0, 0%, 100%, 0);

  display: flex; 
  position: relative;
}


/* media - queries */

@media screen and (max-width: 768px) {
    .page {
        flex-direction: column;
        align-items: center;
    }
    
    /* .section {
        position:;
        
    }  problemas com esse pososcinamento */   
}