
.phone-wrapper {
    transform: scale(0.75);
    transform-origin: top left;
}


.phone {

    width: 350px;
    height: 700px;
    border: 16px solid #fff;
    border-radius: 36px;
    box-shadow: 4px 4px 10px 2px rgb(0 0 0 / 20%);
    background: hsl(270, 20%, 96%);
    
    display: flex;
    flex-direction: column;

    z-index: 10;
    margin-top: 15%;
    margin-left: 100%;

    padding: 0;
}


.phone__top-structure {
    width: 150px;
    height: 20px;
    border-radius: 0 0 20px 20px ;
    margin: 0 auto;
    background: #fff;

    z-index: 20;
}

.phone__header {
    width: 100%;
    height: 70px;
    margin-top: -20px;

    z-index: 19;
    
    border-radius: 20px 20px 0 0;
    background: linear-gradient(180deg, hsl(293, 100%, 63%) 0%, hsl(264, 100%, 61%) 100%);
    box-shadow: 0px 2px 20px 1px rgb(0 0 0 / 15%);

    /*  */
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.phone__header-nav {
    /* display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
    justify-content: space-between; */

    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;

}

.phone__header-button {
    /* width: 12px;
    margin-top: 20px;
    margin-left: 15px;  */

    width: 12px;
}

.phone__header-userpic {
    /* width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid hsl(0, 100%, 100%);;
    margin-top: 22px;
    margin-left: -70px;
    margin-right: 10px;
    object-fit: cover; */


    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
}


.phone__header-userinfo {
    /* display: flex;
    flex-direction: column;
    margin-top: 22px;
    margin-left: -95px;
    gap: 2px; */

    display: flex;
    flex-direction: column;
    gap: 2px;
}

.user__name {
    font-family: "Rubik Bold", sans-serif;
    font-size: 12px;
    color: white;
    font-weight: 700;
}

.user__availibility {
    font-family: "Rubik Regular", sans-serif;
    font-size: 10px;
    color: white;
    opacity: 0.8;
}

.phone__header-ul {  
    /* color: hsl(0, 100%, 100%);
    list-style-type: none;
    margin-top: 22px; */

    display: flex;
    flex-direction: column;
    gap: 3px;
    list-style: none;
    margin-left: auto; 
}

.ul-dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: white;
}

