.phone__content {

    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}

.messages-left {
    align-self: flex-start;
    background-color: #E5E5EA;
    color: hsl(276, 55%, 52%);
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 70%;
    margin-bottom: 10px; 
    
    font-family: "Rubik Regular", sans-serif;
    font-size: 14px;
}

.messages-right-images {
    display: flex;
    gap: 10px;
    align-self: flex-end;
    margin-bottom: 10px; 
}

.messages-right-image {
    width: 60px;
    border-radius: 20%;
}

.messages-right {
    align-self: flex-end;
    background-color: #fff;
    color: hsl(270, 7%, 64%);
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 70%;
    margin-bottom: 10px; 
    
    font-family: "Rubik Regular", sans-serif;
    font-size: 14px;
}

.messages-left-price {
    margin-bottom: 10px; 
    font-family: "Rubik Regular", sans-serif;
    font-size: 14px;
    align-self: flex-start;
    background: linear-gradient(180deg, hsl(293, 100%, 63%) 0%, hsl(264, 100%, 61%) 100%);
    max-width: 80%;
    padding: 10px 15px;
    border-radius: 20px;
    color: #fff;

}

.span-price {
    font-family: "Rubik Bold", sans-serif;
    font-size: 16px;
}

.phone__footer {
    align-self: center;
    background-color: #fff;
    color: hsl(270, 7%, 64%);
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 90%;
    
    
    font-family: "Rubik Regular", sans-serif;
    font-size: 14px;

    display: flex;
    justify-content: space-between;
}

.message-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: hsl(271, 36%, 24%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-button-image {
    width: 12px;
}