

.phone {

    width: 250px;
    height: 450px;
    border: 16px solid #fff;
    border-radius: 36px;
    box-shadow: 4px 4px 10px 2px rgb(0 0 0 / 20%);
    background: hsl(270, 20%, 96%);
    
    display: flex;
    flex-direction: column;

    z-index: 10;
    margin-top: 30px;
    margin-left: 250px;

    padding: 0;
}


.phone__top-structure {
    width: 150px;
    height: 20px;
    border-radius: 0 0 20px 20px ;
    margin: 0 auto;
    background: #fff;

    z-index: 20;
}

.phone__header {
    width: 100%;
    height: 60px;
    z-index: 19;
    margin-top: -20px;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(180deg, hsl(293, 100%, 63%) 0%, hsl(264, 100%, 61%) 100%);
}

phone__header-nav {
    display: flex;
    padding: 0;
}

.phone__header-button {
    width: 10px;
    margin-top: 30px;
    margin-left: 15px;
}