

.phone {

    width: 250px;
    height: 450px;
    border: 16px solid #fff;
    border-radius: 36px;
    box-shadow: 4px 4px 10px 2px rgb(0 0 0 / 20%);
    background: hsl(270, 20%, 96%);
    
    display: flex;
    flex-direction: column;

    z-index: 10;
    margin-top: 30px;
    margin-left: 250px;
}


.phone__top-structure {
    width: 150px;
    height: 20px;
    border-radius: 0 0 20px 20px ;
    margin: 0 auto;
    background: #fff;

    z-index: 20;
}