
.section {

    background-color: blanchedalmond;
    max-width: 400px;
    height: 200px;
    position: absolute;
    left: 650px;
    top: 200px;
       
    z-index: '10';  /*pq nao funciona? */
} 

.section__title {

}


.section__paragraph {

}