
.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    height: 200px;
    position: absolute;
    left: 650px;
    top: 200px;
       
    z-index: 10;  /*pq nao funciona? */
} 

.section__title {
    font-family: "Rubik Bold", sans-serif;
    font-size: 34px;    
    font-weight: 700;
    color: hsl(271, 36%, 24%);
    margin: 0;
}


.section__paragraph {
    font-family: "Rubik Medium", sans-serif;
    font-size: 16px;    
    font-weight: 500;
    margin: 0;
    color: hsl(206, 6%, 79%);
}