
.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 580px;
    height: 200px;
    position: absolute;
    left: 950px;
    top: 250px;
    z-index: 10; 
} 

.section__title {
    font-family: "Rubik Bold", sans-serif;
    font-size: 40px;    
    font-weight: 700;
    color: hsl(271, 36%, 24%);
    margin: 0 0 10px 0;
    letter-spacing: 1px;
}


.section__paragraph {
    font-family: "Rubik Regular", sans-serif;
    font-size: 20px;    
    font-weight: 500;
    margin: 0;
    color: hsl(206, 6%, 79%);
    letter-spacing: 1px;
}