/* imports */

@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/bg__purple.css);
@import url(../blocks/bg__grey.css);

/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

